.root {
    -fx-background-color: black;
}

.anc {
    -fx-background-color: #17212B;
}

.up {
    -fx-background-color: #242F3D;
}

.field {
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.83);
    -fx-text-fill: white;
}

.btn {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 2;
    -fx-border-color: #0cf8ff;
}

.btn:hover {
    -fx-border-color: #b0f3f6;
    -fx-background-color: rgba(12, 248, 255, 0.47);
}